---
new_page_extension: md
auto_deploy: false
admin_path: 
webhook_url: 
sections:
- type: document
  path: '_data/customers'
  label: Customers
- path: _data/customers
  label: Page one
  create: all
- path: _includes
  label: Page two
  create: all
upload_dir: _assets/images
public_path: "_assets/images"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  install_dependencies_command: npm install
  preview_docker_image: forestryio/node:12
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: npm run develop
